{% extends "mysite/base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                決済デモページ
            </h3>

            <p>charge情報：{{ charge }}</p>
            <p>ブランド{{ charge.card.brand }}</p>
            <p>****-****-****-{{ charge.card.last4 }}</p>
            <p>トークン情報：{{ card }}</p>

            <form action="" method='post'>
                {% csrf_token %}

                <script type='text/javascript' src="https://checkout.pay.jp" class="payjp-button" data-key="{{ public_key }}">
                </script>
            </form>
            <p class="text-danger">
                これから作成していくもの
            </p>
            <ul>
                <li>ソーシャルログイン機能</li>
                <li>通知機能</li>
                <li>検索機能</li>
                <li>フォロー機能</li>
                <li>DM機能（Websocket使用）</li>
                <li>グループチャット機能（Websocket使用）</li>
                <li>管理画面（CMS的な）</li>
                <li>コメントの非同期処理</li>
            </ul>

        </div>
        {% comment %} サイドバー {% endcomment %}
        {% include "snippets/sideber.html" %}
    </div>
</main>

{% endblock %}