<h3 class="blog-post-title">{{ article.title }}</h3>
<div class="blog-post-meta">
    {{ article.created_at }}
    <a href="{% url 'author' pk=article.author.id %}" class="ms-2 text-decoration-none text-dark">
        <img src="{{ article.author.profile.image.url }}" alt="" class="col-2 article_profile_image rounded-circle border border-secondary">
        {{ article.author.profile.username }}
        <span class="text-danger"></span>
        <span class="small text-muted">
            {% if request.user == article.author %}
            (あなた)
            {% endif %}
        </span>
    </a>
</div>
<p class="text-danger">記事の星5評価</p>
<p>{{ article.text|truncatechars:30 }}</p>
<div class="d-flex">
    <i class="bi bi-suit-heart mb-1 me-1"></i>
    {{ article.like_count }}
    <i class="ms-1 bi bi-chat-left-dots mb-2 me-1"></i>
    {{ article.comment_count }}
    <p class="ms-1">閲覧数 {{ article.view_total_count }}</p>
</div>
<div class="small text-muted">
    {% if article.id in uset_item_ids %}
    記事を販売中：価格{{ article.price }}円 購入済
    {% elif article.sell_flag and article.price != 0 %}
    記事を販売中：価格{{ article.price }}円
    {% endif %}
</div>
{% if article.sell_flag and article.price != 0 and not article.author == request.user and not article.id in uset_item_ids %}
    {% if article.id in purchased_article_ids and article.id in user_items %}
    <a href="{% url 'blog:cart' %}?article_id={{ article.id }}&delete=True" type="button" class="btn btn-primary">カートから外す</a>
    {% else %}
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ article.pk }}">
        カートにいれる
    </button>
    {% endif %}
{% include "snippets/modal_purchase.html" %}
{% else %}
<a class="None-stretched-link" href="{% url 'blog:detail' article.id %}">続きはこちら</a>
{% endif %}