<div class="col">
    <div class="card h-100" id="article-card-{{ article.id }}" style="display:none;">
        <a href="{% url 'blog:detail' article.id %}">
            <div id="carouselIndicators{{ article.id }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for / in article.image.all %}
                    <button type="button" data-bs-target="#carouselIndicators{{ article.id }}" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in article.image.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000000000">
                        <img src="{{ image.image.url }}" class="d-block w-100 article_image img-thumbnail">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators{{ article.id }}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators{{ article.id }}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>
            <div class="card-body">
                <a href="{% url 'author' pk=article.author.id %}" class="text-decoration-none text-dark">
                    <img src="{{ article.author.profile.image.url }}" alt="" class="col-2 article_profile_image rounded-circle border border-secondary">
                    {{ article.author.profile.username }}
                    <span class="text-danger"></span>
                    <span class="small text-muted">
                        {% if request.user == article.author %}
                        (あなた)
                        {% endif %}
                    </span>
                </a>
                <h5 class="card-title mt-3">{{ article.title }}</h5>
                <p class="card-text">{{ article.text|truncatechars:30 }}</p>
                <div class="d-flex">
                    <i class="bi bi-suit-heart mb-1 me-1"></i>
                    {{ article.like_count }}
                    <i class="ms-1 bi bi-chat-left-dots mb-2 me-1"></i>
                    {{ article.comment_count }}
                    <p class="ms-1">閲覧数 {{ article.view_total_count }}</p>
                </div>
                <div class="small text-muted">
                    {% if article.id in uset_item_ids %}
                    記事を販売中：価格{{ article.price }}円 購入済
                    {% elif article.sell_flag and article.price != 0 %}
                    記事を販売中：価格{{ article.price }}円
                    {% else %}
                    無料
                    {% endif %}
                </div>
                {% if article.sell_flag and article.price != 0 and not article.author == request.user and not article.id in uset_item_ids %}
                    {% if article.id in purchased_article_ids and article.id in user_items %}
                    <a href="{% url 'blog:cart' %}?article_id={{ article.id }}&delete=True" type="button" class="btn btn-primary">カートから外す</a>
                    {% else %}
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ article.pk }}">
                        カートにいれる
                    </button>
                    {% endif %}
                {% include "snippets/modal_purchase.html" %}
                {% endif %}
                <p class="text-danger">記事の星5評価</p>
                <small class="text-muted">投稿日 {{ article.created_at }}</small>
            </div>
        </a>
    </div>

    {% comment %} 最初の数秒間はデモを表示 {% endcomment %}
    <div class="card h-100 placeholder-glow" id="placeholder-card-{{ article.id }}" aria-hidden="true">
        <div alt="" class="article_image_placeholder mb-3 bg-secondary placeholder img-thumbnail"></div>
        <div class="card-body">
            <img alt="" class="col-2 article_profile_image placeholder rounded-pill">
            <span class="placeholder col-8 rounded-pill"></span>
            <h5 class="card-title mt-3 placeholder col-7 rounded-pill"></h5>
            <p class="mt-1 card-text placeholder col-10 rounded-pill"></p>
            <div class="d-flex mt-3 mb-3">
                <i class="me-1 placeholder col-1 rounded-pill"></i>
                <i class="ms-1 me-1 placeholder col-1 rounded-pill"></i>
                <i class="ms-1 me-1 placeholder col-2 rounded-pill"></i>
            </div>
            <div class="small text-muted">
                {% if article.id in uset_item_ids %}
                <span class="placeholder col-8 rounded-pill"></span>
                {% elif article.sell_flag and article.price != 0 %}
                <span class="placeholder col-7 rounded-pill"></span>
                {% else %}
                <span class="placeholder col-5 rounded-pill"></span>
                {% endif %}
            </div>
            {% if article.sell_flag and article.price != 0 and not article.author == request.user and not article.id in uset_item_ids %}
                {% if article.id in purchased_article_ids and article.id in user_items %}
                <a href="{% url 'blog:cart' %}?article_id={{ article.id }}&delete=True" type="button" class="btn btn-primary placeholder col-8 rounded-pill"></a>
                {% else %}
                <button type="button" class="btn btn-outline-success placeholder col-8 rounded-pill" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ article.pk }}"></button>
                {% endif %}
            {% include "snippets/modal_purchase.html" %}
            {% endif %}
            <small class="text-muted placeholder col-7 rounded-pill"></small>
        </div>
    </div>
</div>


{% comment %} デモを非表示にし、本来の記事を表示する {% endcomment %}
<script>
    setTimeout(function() {
        document.querySelectorAll('[id^="placeholder-card-"]').forEach(function(el) {
            el.style.display = 'none';
        });
        document.querySelectorAll('[id^="article-card-"]').forEach(function(el) {
            el.style.display = 'block';
        });
    }, 2000);
</script>