<div class="">
    <h3 class="h6">コメント</h3>
    <div class="list-group">
        {% for comment, time_ago in comments_with_time %}
            <div class="list-group-item list-group-item-action p3 rounded-0">
                <p class="m-0">
                    <small>{{ comment.user.profile.username }}</small>
                </p>
                <p class="m-0">{{ comment.comment }}</p>
                <div class="m-0 d-flex">
                    <small>{{ time_ago }}</small>
                    {% if comment.user == request.user %}
                    <a href="#" class="text-decoration-none text-secondary ms-3">編集する</a>
                    {% endif %}
                </div>
                {{ comment.tex }}
            </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'blog:detail' pk=article.id %}" method="post">
            {% csrf_token %}
            <div class="mb-2">
                <label for="comment_textarea">コメント投稿</label>
                <textarea id="comment_textarea" name="comment" class="rounded-0 bg-light form-control"></textarea>
            </div>
            <div class="text-right">
                <button class="btn btn-sm btn-outline-success" type="submit">
                    コメントする
                </button>
            </div>
        </form>
    {% else %}
        コメントするには、<a href="{% url 'login' %}">ログイン</a>が必要です。
    {% endif %}
</div>