{% extends 'mysite/base.html' %}

{% load static %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-8 m-auto">

            <div class="col-12">
                <img src="{{ user.profile.image.url }}" alt="" class="col-2 mb-1 profile_author_image rounded-circle border border-secondary">
                <span class="h5 ms-1">{{ user.profile.username }}</span>
                <div class="d-flex">
                    <div class="me-3 mt-1">
                        <a href="{% url 'blog:follow' pk=user.id %}?follower=True" class="text-decoration-none">フォロー数 {{ follows_count }}</a>
                        <a href="{% url 'blog:follow' pk=user.id %}" class="text-decoration-none">フォロワー数 {{ followed_count }}</a>
                    </div>
                    <form action="{% url 'blog:follow' user.id %}" method='post'>
                        {% csrf_token %}
                        {% if follow %}
                        <input type="hidden" name="delete" value=True>
                        <button class="btn btn-outline-info pt-1 pb-1 rounded-pill">フォロー解除</button>
                        {% else %}
                        <button class="btn btn-outline-info pt-1 pb-1 rounded-pill">フォローする</button>
                        {% endif %}
                    </form>
                </div>
                <a class="p-2 h5 link-secondary" href="#"><i class="bi bi-envelope"></i></a>
            </div>

            <hr>
            {% if user.profile.is_public %}
            <div class="row">
                <h4 class="mb-4">投稿記事</h4>
                <div class="col-10">
                    {% for article in public_artiles %}
                    <h5 class="blog-post-title">{{ article.title }}</h5>
                    <div class="blog-post-meta">
                        {{ article.created_at }}
                    </div>
                    <p class="text-danger">記事の星5評価と画像を追加したい</p>
                    <p>{{ article.text|truncatechars:30 }}</p>
                    <div class="d-flex">
                        <i class="bi bi-suit-heart mb-1 me-1"></i>
                        {{ article.like_count }}
                        <i class="ms-1 bi bi-chat-left-dots mb-2 me-1"></i>
                        {{ article.comment_count }}
                        <p class="ms-1">閲覧数 {{ article.view_total_count }}</p>
                    </div>
                    <div class="small text-muted">
                        {% if article.id in uset_item_ids %}
                        記事を販売中：価格{{ article.price }}円 購入済
                        {% elif article.sell_flag and article.price != 0 %}
                        記事を販売中：価格{{ article.price }}円
                        {% endif %}
                    </div>
                    {% if article.sell_flag and article.price != 0 and not article.author == request.user and not article.id in uset_item_ids %}
                        {% if article.id in purchased_article_ids and article.id in user_items %}
                        <a href="{% url 'blog:cart' %}?article_id={{ article.id }}&delete=True" type="button" class="btn btn-primary">カートから外す</a>
                        {% else %}
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ article.pk }}">
                            カートにいれる
                        </button>
                        {% endif %}
                    {% include "snippets/modal_purchase.html" %}
                    {% else %}
                    <a class="None-stretched-link" href="{% url 'blog:detail' article.id %}">続きを見る</a>
                    {% endif %}
                    <hr>

                    {% endfor %}
                </div>
            </div>
            {% else %}
            <p class="text-center pt-3">アカウントは非公開です</p>
            {% endif %}
        </div>
        {% comment %} {% include 'snippets/sideber.html' %} {% endcomment %}

    </div>
</main>

{% endblock %}