{% extends 'mysite/base.html' %}

{% load static %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-10 col-12 m-auto">

            <div class="col-12">
                <img src="{{ user.profile.image.url }}" alt="" class="col-2 mb-1 profile_author_image rounded-circle border border-secondary">
                <span class="h5 ms-1">{{ user.profile.username }}</span>
                <div class="d-flex">
                    <div class="me-3 mt-1">
                        <a href="{% url 'blog:follow' pk=user.id %}?follower=True" class="text-decoration-none">フォロー数 {{ follows_count }}</a>
                        <a href="{% url 'blog:follow' pk=user.id %}" class="text-decoration-none">フォロワー数 {{ followed_count }}</a>
                    </div>
                    <form action="{% url 'blog:follow' user.id %}" method='post'>
                        {% csrf_token %}
                        {% if follow %}
                        <input type="hidden" name="delete" value=True>
                        <button class="btn btn-outline-info pt-1 pb-1 rounded-pill">フォロー解除</button>
                        {% else %}
                        <button class="btn btn-outline-info pt-1 pb-1 rounded-pill">フォローする</button>
                        {% endif %}
                    </form>
                </div>
                <a class="p-2 h5 link-secondary" href="{% url 'blog:dm_detail' user.id %}">
                    {% if dm_exitst %}
                    <i class="bi bi-envelope"></i>
                    {% else %}
                    <i class="bi bi-envelope-plus"></i>
                    {% endif %}
                </a>
            </div>

            <hr>
            {% if user.profile.is_public %}
            <div class="row">
                <h4 class="mb-2 text-center">投稿記事</h4>
                <div class="card-deck row row-cols-1 row-cols-md-2 g-4 mb-3">
                    {% for article in public_artiles %}
                    <div class="col-lg-4 col-md-6 col">
                        {% include "snippets/articles_index.html" %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <p class="text-center pt-3">アカウントは非公開です</p>
            {% endif %}
        </div>
        {% comment %} {% include 'snippets/sideber.html' %} {% endcomment %}

    </div>
</main>

{% endblock %}