{% extends "mysite/base.html" %}

{% block content %}

{% comment %} URLの書き方を省略して使える {% endcomment %}
{% url 'blog:index' as blog_index %}

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded bg-warning">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Django講座</h1>
            <p class="lead my-3">文章をかこう</p>
            <p class="lead mb-0">
                <a href="{% url 'blog:new' %}" class="font-weight-bold">新規作成</a>
            </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 m-auto text-center">
            <h3 class="shadow pb-2 pt-2 mb-3 bg-body-tertiary rounded">人気記事TOP2</h3>
        </div>
        {% for article in popular_articles %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row 
            mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Django</strong>
                    <h3 class="mb-2">{{ article.title }}</h3>
                    <div class="mb-1 text-muted">{{ article.created_at }}</div>
                    <div class="d-flex">
                        <p class="card-text mb-auto">{{ article.text }}</p>
                        <i class="bi bi-suit-heart mb-1 me-1"></i>
                        {{ article.like_count }}
                        <i class="ms-1 bi bi-chat-left-dots mb-2 me-1"></i>
                        {{ article.comment_count }}
                    </div>
                    <a href="{% url 'blog:detail' article.id %}" class="None-stretched-link">続きを読む</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                最新記事TOP3
            </h3>
            {% for article in last_three_articles %}
                <div class="blog-post">
                    {% include "mysite/snippets/articles_index.html" %}
                </div>
                <hr>
            {% endfor %}
            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="{{ blog_index }}">ブログ一覧はこちら</a>
                <a class="btn btn-outline-primary" href="{% url 'blog:new' %}">新しい記事</a>
            </nav>
        </div>
        {% comment %} サイドバー {% endcomment %}
        {% include "mysite/snippets/sideber.html" %}
    </div>
</main>

{% endblock %}