{% extends 'mysite/base.html' %}

{% load static %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                マイページ
            </h3>
            <a href="{% url 'blog:dm_index' %}">DM一覧</a>

            <form class="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}

                <img src="{{ user.profile.image.url }}" alt="" class="col-2 mb-1 profile_image rounded-circle border border-secondary">
                <input type="file" accept='image/*' id='id_image' name='image'>

                <div class="row">

                    <div class="col-12 mb-2">
                        <label class="form-label">ユーザー名（公開されます）</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="ユーザー名" value={{ user.profile.username }}>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">郵便番号</label>
                        <input type="text" class="form-control" id="id_zipcode" name="zipcode" placeholder="1234567" value={{ user.profile.zipcode }}>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">都道府県</label>
                        <select id="id_prefecture" name="prefecture" class="form-select">
                            {% for value, name in prefecture_choices %}
                                <option value="{{ value }}" {% if value == user.profile.prefecture %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">市区町村</label>
                        <input type="text" class="form-control" id="id_city" name="city" placeholder="市区町村" value={{ user.profile.city }}>
                    </div>

                    <div class="col-12 mt-2">
                        <label class="form-label">住所</label>
                        <input type="text" class="form-control" id="id_address" name="address" placeholder="住所" value={{ user.profile.address }}>
                    </div>

                    <div class="col-12 mt-2">
                        <button type="submit" class="btn btn-success">保存</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row">
                <h4 class="mb-4">公開中の記事</h4>
                <div class="col-10">
                    {% for article in false_public_artiles %}
                    <h5 class="blog-post-title">{{ article.title }}</h5>
                    <div class="blog-post-meta">
                        {{ article.created_at }}
                    </div>
                    <p class="text-danger">記事の星5評価と画像を追加したい</p>
                    <p>{{ article.text|truncatechars:30 }}</p>
                    <div class="d-flex">
                        <i class="bi bi-suit-heart mb-1 me-1"></i>
                        {{ article.like_count }}
                        <i class="ms-1 bi bi-chat-left-dots mb-2 me-1"></i>
                        {{ article.comment_count }}
                        <p class="ms-1">閲覧数 {{ article.view_total_count }}</p>
                    </div>
                    <div class="small text-muted">
                        {% if article.id in uset_item_ids %}
                        記事を販売中：価格{{ article.price }}円 購入済
                        {% elif article.sell_flag and article.price != 0 %}
                        記事を販売中：価格{{ article.price }}円
                        {% endif %}
                    </div>
                    {% if article.sell_flag and article.price != 0 and not article.author == request.user and not article.id in uset_item_ids %}
                        {% if article.id in purchased_article_ids and article.id in user_items %}
                        <a href="{% url 'blog:cart' %}?article_id={{ article.id }}&delete=True" type="button" class="btn btn-primary">カートから外す</a>
                        {% else %}
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ article.pk }}">
                            カートにいれる
                        </button>
                        {% endif %}
                    {% include "mysite/snippets/modal_purchase.html" %}
                    {% else %}
                    <a class="None-stretched-link" href="{% url 'blog:detail' article.id %}">続きを見る</a>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="row">
                <h4 class="mb-4">非公開中の記事</h4>
                <div class="col-10">
                    {% for article in false_public_artiles %}
                    <h5 class="blog-post-title">{{ article.title }}</h5>
                    <div class="blog-post-meta">
                        {{ article.created_at }}
                    </div>
                    <p class="text-danger">記事の星5評価と画像を追加したい</p>
                    <p>{{ article.text|truncatechars:30 }}</p>
                    <div class="d-flex">
                        <i class="bi bi-suit-heart mb-1 me-1"></i>
                        {{ article.like_count }}
                        <i class="ms-1 bi bi-chat-left-dots mb-2 me-1"></i>
                        {{ article.comment_count }}
                        <p class="ms-1">閲覧数 {{ article.view_total_count }}</p>
                    </div>
                    <div class="small text-muted">
                        {% if article.id in uset_item_ids %}
                        記事を販売中：価格{{ article.price }}円 購入済
                        {% elif article.sell_flag and article.price != 0 %}
                        記事を販売中：価格{{ article.price }}円
                        {% endif %}
                    </div>
                    {% if article.sell_flag and article.price != 0 and not article.author == request.user and not article.id in uset_item_ids %}
                        {% if article.id in purchased_article_ids and article.id in user_items %}
                        <a href="{% url 'blog:cart' %}?article_id={{ article.id }}&delete=True" type="button" class="btn btn-primary">カートから外す</a>
                        {% else %}
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ article.pk }}">
                            カートにいれる
                        </button>
                        {% endif %}
                    {% include "mysite/snippets/modal_purchase.html" %}
                    {% else %}
                    <a class="None-stretched-link" href="{% url 'blog:detail' article.id %}">続きを見る</a>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'mysite/snippets/sideber.html' %}


    </div>
</main>

{% endblock %}