{% extends 'mysite/base.html' %}

{% load static %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                マイページ
            </h3>

            <form class="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}

                <img src="{{ user.profile.image.url }}" alt="" class="col-2 mb-1 profile_image rounded-circle border border-secondary">
                <input type="file" accept='image/*' id='id_image' name='image'>

                <div class="row">

                    <div class="col-12 mb-2">
                        <label class="form-label">ユーザー名（公開されます）</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="ユーザー名" value={{ user.profile.username }}>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">郵便番号</label>
                        <input type="text" class="form-control" id="id_zipcode" name="zipcode" placeholder="1234567" value={{ user.profile.zipcode }}>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">都道府県</label>
                        <select id="id_prefecture" name="prefecture" class="form-select">
                            {% for value, name in prefecture_choices %}
                                <option value="{{ value }}" {% if value == user.profile.prefecture %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">市区町村</label>
                        <input type="text" class="form-control" id="id_city" name="city" placeholder="市区町村" value={{ user.profile.city }}>
                    </div>

                    <div class="col-12 mt-2">
                        <label class="form-label">住所</label>
                        <input type="text" class="form-control" id="id_address" name="address" placeholder="住所" value={{ user.profile.address }}>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-success">保存</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row">
                投稿した記事
            </div>
            <hr>
            <div class="row">
                非公開中の記事
            </div>
        </div>
        {% include 'mysite/snippets/sideber.html' %}


    </div>
</main>

{% endblock %}