{% extends "mysite/base.html" %}
{% load cache %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">

            {% cache 86400 article article.id %}
            <h3 class="pb-4 display-5 font-italic">
                {{ article.title }}
            </h3>
            <p class="small text-muted text-right">
                {{ article.created_at }}
                {{ article.author }}
            </p>
            <p>{{ article.text }}</p>
            {% endcache %}
            {% include "mysite/snippets/like.html" %}
            <div class="mt-2 me-2">
                {% for tag in article.tags.all %}
                    <a href="{% url 'blog:tag_detail' name=tag.name %}" class="btn btn-sm btn-outline-secondary">
                        <i class="bi bi-tag"></i>{{ tag.name }}
                    </a>
                {% endfor %}
            </div>

            <hr class="my-4">
            {% include "mysite/snippets/comment.html" %}
        </div>

        {% comment %} サイドバー {% endcomment %}
        <aside class="col-md-4">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">
                    ふじサンについて
                </h4>
                <p class="mb-0">ようこそMy講座へ！</p>
            </div>
        </aside>

    </div>
</main>

{% endblock %}