{% extends "mysite/base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                {{ page_title }}
            </h3>

            {% for article in paginator_articles %}
                <div class="blog-post">
                    {% include "snippets/articles_index.html" %}
                </div>
                <hr>
            {% endfor %}

            {% comment %} ページネーション {% endcomment %}
            {% include "snippets/pagination.html" %}
        </div>
        {% comment %} サイドバー {% endcomment %}
        {% include "snippets/sideber.html" %}
    </div>
</main>

{% endblock %}