{% extends "mysite/base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                {{ page_title }}
            </h3>

            {% for article in paginator_articles %}
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ article.title }}</h2>
                    <p class="blog-post-meta">{{ article.created_at }} by <a href="#">
                        {{ article.author }}</a></p>
                        <div class="d-flex">
                            {{ article.text }}
                            <i class="bi bi-suit-heart mb-1 me-1"></i>
                            {{ article.like_count }}
                            <i class="ms-1 bi bi-chat-left-dots mb-2 me-1"></i>
                            {{ article.comment_count }}
                        </div>
                    <a class="None-stretched-link" href="/blog/{{ article.id }}/">続きはこちら</a>
                </div>
                <hr>
            {% endfor %}

            {% comment %} ページネーション {% endcomment %}
            {% include "mysite/snippets/pagination.html" %}
        </div>
        {% comment %} サイドバー {% endcomment %}
        {% include "mysite/snippets/sideber.html" %}
    </div>
</main>

{% endblock %}