{% extends "mysite/base.html" %}

{% block content %}

<div class="container">
    <div class="row mb-2">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-flex">
                        <a href="{% url 'author' partner.id %}" class="text-decoration-none text-dark">
                            <img src="{{ partner.profile.image.url }}" class="ms-2 profile_author_image rounded-circle border border-secondary">
                            <span class="mt-2 ms-2">{{ partner.profile.username }}</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-4 bg-danger"></div>
                <div class="col-lg-4 col-md-4 col-2 bg-info">
            </div>
        </div>
    </div>

    <ul class="col-md-10 col-12 mx-auto list-none pt-3">
        {% for message, time_ago in messages_with_time %}
            <li class="mb-4">
            {% if message.sender == partner %}
                <div class="row justify-content-start">
                    <div class="col-10 col-md-8">
                        <a href="{% url 'author' partner.id %}" class="text-decoration-none text-dark">
                            <span class="mt-2 ms-2">{{ partner.profile.username }}</span>
                        </a>
                        <div class="d-flex mt-1">
                            <a href="{% url 'author' partner.id %}" class="text-decoration-none text-dark">
                                <img src="{{ partner.profile.image.url }}" class="me-2 article_profile_image rounded-circle border border-secondary">
                            </a>
                            <div class="mt-1 ml-2">
                                <div class="bg-info text-dark p-2 rounded flex-wrap">
                                    {{ message.text }}
                                </div>
                                <div class="text-right dm-time-ago">
                                    {{ time_ago }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row justify-content-end">
                    <div class="col-10 col-md-8">
                        <div class="d-flex justify-content-end">
                            <div>
                            <div class="bg-primary text-white p-2 rounded">
                                {{ message.text }}
                            </div>
                            <div class="text-left dm-time-ago">
                                {{ time_ago }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form method="post" id="messageForm" enctype='multipart/form-data' class="mt-5">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="messageText" name="text" placeholder="メッセージを入力">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="ps-2 pe-2 fs-5 bi bi-card-image" id="profileImage"></i>
                                </span>
                                <input type="file" accept='image/*' name="image" name="image" class="form-control" id="id_image" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <button type="submit" class="btn btn-outline-primary pt-2 pb-2 w-100" id="submitButton" >
                            送信
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const messageText = document.getElementById('messageText');
        const imageInput = document.getElementById('id_image');
        const submitButton = document.getElementById('submitButton');

        // ファイル選択トリガー
        document.getElementById('profileImage').addEventListener('click', function() {
            imageInput.click();
        });

        // 入力フィールドの値を監視する関数
        function checkInputs() {
            if (messageText.value.trim() !== '' || imageInput.files.length > 0) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }

        // テキストや画像が変更された時にボタンの状態を更新
        messageText.addEventListener('input', checkInputs);
        imageInput.addEventListener('change', checkInputs);

        checkInputs();
    });
</script>

{% endblock %}