<div class="container">
    <header class="py-3">
        <div class="row flex-nowarp justify-content-center align-items-center">
            <div class="col-4 text-center">
                <h1 class="display-4 font-italic">
                    <a href="/" class="text-decoration-none text-secondary">ReallySite</a>
                </h1>
            </div>
        </div>
    </header>
    <div class="py-1 mb-2">
        <nav class="nab d-flex justify-content-between">
            <a class="p-2 link-secondary" href="{% url 'blog:index' %}">ブログ</a>
            <a class="p-2 link-secondary" href="{% url 'contact' %}">お問い合わせ</a>
            <a class="p-2 link-secondary" href="{% url 'mypage' %}">マイページ</a>
            <a class="p-2 link-secondary" href="{% url 'pay' %}">決済デモページ</a>
            <a class="p-2 link-secondary" href="{% url 'cache' %}">キャッシュテスト</a>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method='post'>
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary" type="submit">ログアウト</button>
                </form>
            {% else %}
                <a class="p-2 link-secondary" href="{% url 'login' %}">ログイン</a>
                <a class="p-2 link-secondary" href="{% url 'signup' %}">サインイン</a>
            {% endif %}
        </nav>
    </div>
</div>